body {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
}

.lds-ellipsis {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

#missing-url {
  margin: 1 0;
  font-size: 15px;
}

#notification-text {
  justify-content: center;
  display: flex;
  width: 100%;
  margin-top: 75px;
}

#post-animation-container {
  display: none;
  justify-content: center;
}

#post-animation-container h1:nth-child(1) {
  animation: four-number 3s linear infinite;
}

#post-animation-container h1:nth-child(2) {
  animation: zero-number 3s linear infinite;
}

#post-animation-container h1:nth-child(3) {
  animation: four-number 3s linear infinite;
}

.animated-number {
  margin-inline-end: 4rem;
  font-size: 8rem;
}

@keyframes four-number {
  0% {
    transform: translateY(0px);
  }
  12.5% {
    transform: translateY(-12px);
  }
  25% {
    transform: translateY(-24px);
  }
  37.5% {
    transform: translateY(-12px);
  }
  50% {
    transform: translateY(0px);
  }
  62.5% {
    transform: translateY(12px);
  }
  75% {
    transform: translateY(24px);
  }
  87.5% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes zero-number {
  0% {
    transform: translateY(0px);
  }
  12.5% {
    transform: translateY(12px);
  }
  25% {
    transform: translateY(24px);
  }
  37.5% {
    transform: translateY(12px);
  }
  50% {
    transform: translateY(0px);
  }
  62.5% {
    transform: translateY(-12px);
  }
  75% {
    transform: translateY(-24px);
  }
  87.5% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}
